<%= form_for(@area_attribute) do |f| %>
  <% if @area_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area_attribute.errors.count, "error") %> prohibited this area_attribute from being saved:</h2>

      <ul>
      <% @area_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
