
<div class="area_attribute" style="border-style:solid;
border-width:2px;">
<p> <%= f.label :name, "Name of the attribute" %> </p>
<p> <%= f.text_area :name %> </p>

<p> <%= f.label :value, "Value of the attribute" %> </p>
<p> <%= f.text_area :value %> </p>

<p> <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove Question" %></p>
</div>
