<%= form_for(@area) do |f| %>
<% if @area.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

  <ul>
    <% @area.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_area :name %>
</div>


<%= f.fields_for :area_attributes do |builder| %>
<div class="area_attribute" style="border-style:solid;
border-width:2px;">
<p> <%= builder.label :name, "Name of the attribute" %> </p>
<p> <%= builder.text_area :name %> </p>

<p> <%= builder.label :value, "Value of the attribute" %> </p>
<p> <%= builder.text_area :value %> </p>

<p> <%= builder.check_box :_destroy %>
    <%= builder.label :_destroy, "Remove Question" %></p>
</div>

<% end %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
