
<section>
  <div class="column">
    <%= form_for(@area) do |f| %>
    <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
        <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_area :name %>
    </div>
  </div>
</section>

<section>

  <!-- Nested forms for the area_attributes-->
  <%= f.fields_for :area_attributes do |builder| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- We set the name to default atm, because we are only
          using one area_attribute at this stage of dev.-->
        <%= builder.hidden_field :name, :value =>'default' %>
        <%= builder.label :value, "Value of the attribute" %>
        <%= builder.text_area :value, :class => "span6", :rows => 50%>
      </div>
    </div>
  </div>
  <% end %>

<div class="col-md-6">

</div>
</section>
<%= f.submit 'Create',:class => 'positive-button' %>

<% end %>
