<h1>New resume</h1>

<section>
  <%= render 'form' %>
  <input type="button" id="btnReset" class="btn btn-default btn-lg" value="RESET">

</section>

<section>
  <div class="col-md-6">
    <div class="resume_droppable" id="0" data-update-url="<%= sort_areas_resumes_url %>"></div>
    <div class="resume_droppable" id="1" data-update-url="<%= sort_areas_resumes_url %>"></div>
    <div class="resume_droppable" id="2" data-update-url="<%= sort_areas_resumes_url %>"></div>
  </div>

  <div id="areas" class="col-md-4">
    <% @areas.each do |area|%>
    <%= content_tag_for(:div, area, nil, area_id: area.id) do %>
    <div class="panel panel-default area-panel">
      <div class="panel-heading">Area <strong><%= area.name %> </strong>
      </div>
      <div class="panel-body">
        <% area.area_attributes.each do |attr| %>
        <%= attr.name%>
        <%= attr.value%>
        <%end%>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

</section>
<%= link_to 'Back', resumes_path %>
