<h1>New resume</h1>

<section>
  <%= render 'form' %>
  <input type="button" id="btnReset" class="btn btn-default btn-lg" value="RESET">

</section>

<section>
  <div class="column">
    <div class="resume_droppable" id="0" data-update-url="<%= sort_areas_resumes_url %>"></div>
    <div class="resume_droppable" id="1" data-update-url="<%= sort_areas_resumes_url %>"></div>
    <div class="resume_droppable" id="2" data-update-url="<%= sort_areas_resumes_url %>"></div>
  </div>

  <div class="column">
    <% @areas.each do |area|%>
    <%= content_tag_for(:div, area, nil, area_id: area.id) do %>
    <div class="panel panel-default">
      <div class="panel-heading">Area <strong><%= area.name %> </strong>
      </div>
      <div class="panel-body">
        <% area.area_attributes.each do |attr| %>
        <%= attr.name%>
        <%= attr.value%>
        <%end%>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

</section>

<section>

  <ul id="areas" data-update-url="<%= sort_areas_resumes_url %>">
    <% @areas.each do |area| %>
    <%= content_tag_for :li, area do %>
    <span class="handle">[drag]</span>
    <%= link_to 'Go to this area',area%>

    <% end %>
    <% end %>
  </ul>
</section>
<%= link_to 'Back', resumes_path %>
